.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.icon1{
  display: flex;
  justify-content:center;
  align-items: center;
  float: right;
  font-size: 100px;
  margin-bottom: 50px;
  margin-right: 30% ;


}
.borde{

border-style: solid;
margin-top: 10px;
}

.btn{

  margin-top: 10px;
}
.up{
margin-bottom: 28;

}
