<ion-content>
  <ion-card class="card">
  <ion-card-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
        <ion-card-title class="ion-text-center">Reset Password</ion-card-title>
      </ion-buttons>
    </ion-toolbar>

  </ion-card-header>

  <ion-card-content >
   Please enter your email below and we'll send you a link to reset your password.
  </ion-card-content>
  <ion-item>
    <ion-label position="floating"><ion-icon name="mail-outline" size="medium" ></ion-icon></ion-label>
    <ion-input placeholder="Enter your email"></ion-input>
  </ion-item>
  <ion-card-content>
    <ion-button shape="block">Submit</ion-button>
  </ion-card-content>

</ion-card>
</ion-content>


