<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment Details</ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content *ngIf="this.user">
  <h2>{{this.user.client_full_names }}: Details </h2>
  <ion-item>
  <ion-label>Full Names: </ion-label>
  <ion-input>{{this.user.client_full_names}} </ion-input>
</ion-item>
<ion-item>
  <ion-label>Appointment date: </ion-label>
  <ion-input>{{this.user.appointment_date}}</ion-input>
</ion-item>
<ion-item>
  <ion-label>Docter's Email: </ion-label>
  <ion-input>{{this.user.booked_by_email_foreign}}</ion-input>
</ion-item>
  <ion-item>
    <ion-label>Phone Number: </ion-label>
    <ion-input>{{this.user.client_phone_no}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description: </ion-label>
    <ion-input [(ngModel)] ="this.user.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Approved</ion-label>
    <!-- <ion-input [type]="result ? 'yes' : 'no'" ></ion-input> -->
    <ion-input >{{this.result}}</ion-input>
  </ion-item>
 <ion-item>
   <ion-button color="primary" (click)="approveAppointment()">Approve</ion-button>
 </ion-item>


</ion-content>
