.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0%;
    margin-top: 50%;
    text-align: center;
    margin-left: 10%;
    // border-color: aqua;
    // border: solid;
}
.btn{

    height: 100%;
     margin-top: 0%;

}
.space{

    margin-top: 10%;
}
.spaces{

    margin-top: 2%;
}