

// img{

// }
* {
  --background: rgb(160, 215, 236);
}
.welcome{
  color: black;
  text-align: center;
}

ion-button{
  --background: rgb(5,82,144);
  width: 240px;
  margin-top: 15px;
}
ion-title{
  color: rgb(5,82,144);
  text-align: center;
}