
<ion-content>

    <div class="flex-center">

      <ion-card>
        <ion-card-header>
          <ion-card-title>User Prfile</ion-card-title> 
           <ion-icon class="icon" name="create-outline"></ion-icon>
        </ion-card-header>

        <ion-card-content>
          <ion-label><ion-icon style="margin-right: 100%;" name="person-circle-outline"> </ion-icon> 
          </ion-label>

          <ion-label> Name </ion-label>
          <ion-label>Surname</ion-label>
          <ion-label> Phone number</ion-label>
          <ion-label> email Address</ion-label>

        </ion-card-content>
      </ion-card>
    
    </div>
  
  
</ion-content>
