

*{
  --background: rgb(218,225,222);
}
ion-toolbar{

  color: rgb(5,82,144);
  text-align: center;
}

ion-button{
  --background: rgb(5,82,144);
  color:rgb(218,225,222);
  margin-top: 15px;

}
h5{
  text-align: center;
  color: black;
  margin: 40px;
}

.inputs{
  --background:white;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;


}

ion-button{
  --background: rgb(5,82,144);


  margin-top: 15px;
}
ion-icon{

  color: rgb(5, 82,144);
  font-size: 25px;
}
ion-input{
  --background: white;
  color: rgb(5,82,144);
}
a{
 
 color: rgb(5, 82,144);
 margin-left: 20px;
}
.a1{


    color: black

}
